img {
    max-width: 150px; /* Define um tamanho maÌximo */
    width: 150px; /* Define um tamanho fixo */
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 10px; /* Borda arredondada opcional */
}
